<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Why Hello There</h1>
    <h2>From <%= user.name %>!</h2>
    <p>I like the color <%= user.color %>, and I enjoy eating <%= user.food %>.</p>
    <p>My GPA is <%= user.grade %>!</p>

    <% if (user.grade >= 2.0) { %>
        <p>I am passing my classes! Yay!</p>
    <% } else { %>
        <p>Oh no, I'm not passing. I better find a tutor.</p>
    <% } %>

    <h3>Hobbies</h3>
    <ul>
    <% user.hobbies.forEach(hobby => { %>
        <li><%= hobby %></li>
    <% }) %>
    </ul>

    <h3>Favorite Pokémon</h3>
    <ol>
    <% user.favorite_pokemon.forEach(pokemon => { %>
        <li><%= pokemon %></li>
    <% }) %>
    </ol>
</body>
</html>